<div>
Path: /{{ path }}<br/>
Name: {{ page.name }}<br/>
Title: {{ page.title }}<br/>
Content: {{ page.content }}<br/>
Type: {{ props.primaryType }}<br/>
Doctrine alias: {{ props._doctrine_alias }}
</div>
