<div>
Path: /{{ data.path }}<br/>
Name: {{ data.doctrine_node.name }}<br/>
Title: {{ data.doctrine_node.title }}<br/>
Content: {{ data.doctrine_node.content }}<br/>
Type: {{ props.primaryType }}<br/>
Doctrine alias: {{ props._doctrine_alias }}
</div>
